---
import Layout from '../../layouts/Layout.astro'
---

<Layout title="Obozy" description='obozy'>
  <main>
    <section>
      Obozy
      </section>
  </main>
</Layout>

<style>
  section {
    padding-top: 14rem;
  }
</style>