@use "../../utils/" as utils;
@use "../../defaults/" as defaults;

.#{utils.buildClassName("heading")} {
  margin-bottom: 0.25em;
  font-family: var(--font-heading);
  font-weight: 700;

  @each $size in defaults.$sizes {
    &--#{$size} {
      font-size: utils.getVar("text-#{$size}");
    }
  }
}
