@use "../../utils/" as utils;

.#{utils.buildClassName("map-toolbar")} {
  padding: 1rem;
  background-color: #{utils.getVar("color-white")};
  border-radius: #{utils.getVar("border-radius-default")};
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}
