@use "../utils" as utils;

//* shadow
$shadow-color: #000000;
$shadow-opacity: 0.1;
$shadow-x: 0;
$shadow-y: 5px;
$shadow-blur: 15px;
$shadow-spread: -3px;

$shadow-default: $shadow-x $shadow-y $shadow-blur $shadow-spread
  rgba($shadow-color, $shadow-opacity);

//* border-radius
$border-radius-default: 0.75rem;

//* animation
$animation-duration: 0.3s;


:root {
  #{utils.buildVarName("shadow-default")}: #{$shadow-default};
  #{utils.buildVarName("border-radius-default")}: #{$border-radius-default};
  #{utils.buildVarName("animation-duration")}: #{$animation-duration};
}
