.text-center {
  text-align: center;
}

.heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  width: clamp(0px, 100%, 800px);
  margin: 0 auto 4rem;
  text-align: center;
  text-wrap: balance;
}

.tile-heading-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 0;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--weirdo-color-accent-3);

  @media (min-width: 768px) {
    border-top: 2px solid var(--weirdo-color-accent-3);
  }
}

.tile-portable-text-wrapper {
  margin-bottom: 3rem;

  p {
    margin-bottom: 0.5em;
    line-height: 1.25;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.lead-color {
  color: var(--weirdo-color-dark-grey)
}

.cookie-banner {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  z-index: 20;
  width: 95%;
  padding: 1rem var(--weirdo-container-padding-x) 2rem;
  font-size: var(--weirdo-text-sm);
  background: var(--weirdo-color-accent-3);
  backdrop-filter: blur(10px);
  transform: translateX(-50%);

  @media (min-width: 520px) {
    font-size: var(--weirdo-text-md);
  }
}

.cookie-banner__text {
  margin-bottom: 1rem;
}


.btn-accept {
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  color: var(--weirdo-color-text);
  cursor: pointer;
  background-color: var(--weirdo-color-accent-2);
  border: none;

  &:hover, &:focus {
    background-color: var(--weirdo-color-accent-2-80);
  }
}

.btn-reject {
  padding: 0.5rem 1rem;;
  color: black;
  cursor: pointer;
  background-color: var(--weirdo-color-white);
  border: 2px solid black;

  &:hover, &:focus {
    background-color: lightgray;
  }
}

.fade-down {
  animation: fadeDown 0.75s forwards;
}

[data-animation="fade-down"] {
  opacity: 0;
  transform: translateY(15%);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(15%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
  }
}

.slide-left {
  animation: slideLeft .75s forwards;
}

[data-animation="slide-left"] {
  opacity: 0;
  transform: translateX(-150px);
}

@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-150px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
    animation-timing-function: ease-out;
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.pseudo-visible::after {
  opacity: 1;
}

