body {
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  font-size: var(--base-font-size);
}

main {
  flex-grow: 1;
}

.portable-text-wrapper {
  margin-top: 2rem;

  p {
    margin-bottom: 1.5em;
    text-wrap: balance;

    @media (min-width: 768px) {
      margin-bottom: 1.25em;
    }
  }
}

.section {
  position: relative;
  padding: 3rem 0 5rem;

  @media (min-width: 768px) {
    padding: 5rem 0;
  }

  @media (min-width: 1366px) {
    padding: 7rem 0;
  }
}
