.main-banner-swiper {
	.swiper-wrapper {
		transform: none !important;
	}

	.swiper-slide {
		transition: all 0.5s ease;
		/* transform: none !important; */

		.heading-lead-wrapper {
			opacity: 0;
			transform: translateY(-50px);
			transition: all 0.5s ease;
		}

		.slider-button {
			opacity: 0;
			transform: translateX(-50px);
			transition: all 0.5s ease;
		}
	}

	.swiper-slide-active {
		.heading-lead-wrapper {
			opacity: 1;
			transform: translateY(0);
		}

		.slider-button {
			opacity: 1;
			transform: translateX(0);
		}
	}

	.swiper-slide-prev {
		.heading-lead-wrapper {
			opacity: 0;
			transform: translateY(-50px);
		}

		.slider-button {
			opacity: 0;
			transform: translateX(-50px);
		}
	}

	.swiper-slide-next {
		.heading-lead-wrapper {
			opacity: 0;
			transform: translateY(50px);
		}

		.slider-button {
			opacity: 0;
			transform: translateX(50px);
		}
	}
}

.swiper-pagination-bullet-active {
	background: var(--weirdo-color-accent-2) !important;
}
