/* Reset CSS */

/* Prevent font size inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Set base font size and line height */
body {
	min-height: 100vh;
	font-size: 16px;
	line-height: 1.5;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	padding: 0;
	margin: 0;
}

/* Set box-sizing to border-box */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove list styles */
ul,
ol {
	list-style: none;
}

/* Remove default hyperlink styles */
a {
	color: inherit;
	text-decoration: none;
}

/* Add any additional reset styles here */

/* End of Reset CSS */

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
	text-wrap: balance;
}

/* Make images easier to work with */
img,
picture {
	display: block;
	max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
	min-height: 10em;
}

button {
	padding: 0;
	background-color: transparent;
	border: 0;
}

address {
	font-style: normal;
}
