---
import { PortableText } from "astro-portabletext";
import { highlightRandomWord } from "../../utils";
import Container from "../atoms/Container.astro";
import Heading from "../molecules/Heading.astro";


const { data } = Astro.props;

data.heading = highlightRandomWord(data.heading);
---

<section>
  <Container>
    <div data-animation="slide-left">
      <Heading text={data.heading} as="h2" size="xl" />
    </div>      
    <div class="wrapper">
      <p class:list={["lead-wrapper", "lead-color"]} data-animation="fade-down">{data.lead}</p>
      <div class="portable-text-wrapper" data-animation="fade-down">
        <PortableText value={data.body}/>
      </div>
    </div>
  </Container>
</section>


<style>
  .wrapper {
    display: grid;
    
    @media (min-width: 920px) {
      grid-template-columns: 40% 1fr;
      gap: 15%;
    }
  }

  .lead-wrapper {
    margin-top: 1rem;
    
    @media (min-width: 920px) {
      margin-top: 2rem;
    }
  }

</style>

