---
import type { HomePage } from '../../data/digests/digest-home-page-data'
import { highlightRandomWord } from '../../utils'
import Container from '../atoms/Container.astro'
import DecoElement from '../atoms/DecoElement.astro'
import Heading from '../molecules/Heading.astro'
import TeamSlider from '../organisms/TeamSlider.astro'

interface Props {
  data: HomePage['team']
  variant?: 'default' | 'slider'
}

const { data, variant = 'slider' } = Astro.props

if(!data) {
  throw new Error('No data provided for SectionTeam')
}

data.title = highlightRandomWord(data.title);

---

<section class="section">
  <DecoElement 
    position={{
      top: '20%', 
      right: '5%'
    }}
    size={{
      width: '75px',
      height: '75px'
    }}
    color="accent-1"
  />
  <DecoElement 
    position={{
      bottom: '0%', 
      left: '5%'
    }}
    size={{
      width: '75px',
      height: '75px'
    }}
    color="accent-2"
  />
  <Container>
    <div class="team-section-wrapper">
      <div>
        <Heading as="h1" size="xl" text={data.title} />
      </div>
      {variant === 'slider' && (
        <TeamSlider items={data.teamMembers} />
      )}
    </div>
  </Container>
</section>



<style>
  .section {
    position: relative;
  }

  .team-section-wrapper {
    display: grid;
    gap: 2rem;
    
    @media(min-width: 768px) {
      padding-top: 6rem;
    }
  }
</style>