---
import Container from '../atoms/Container.astro'
import Heading from '../molecules/Heading.astro'

const { data } = Astro.props
---

<section>
  <Container>
    <h1>{data.values.title}</h1>
    <p>{data.values.lead}</p>
      <ul class="tiles-wrapper">
        {data.values.map((value, index) => {
              
              return (
              <li class="tile-wrapper">
                <small>0{index+1}</small>
                <Heading as="h2" size="md" text={value.title} />
                <p>{value.description}</p>
              </li>
              )
            })}
          </ul>  
  </Container>
</section>

<style>
  .tiles-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 8rem;

    @media(min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .tile-wrapper {
    font-size: var(--weirdo-text-md);
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: #fafafa;
    padding: 8%;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);

    @media(min-width: 768px) {
      padding: 15%;
    }

    h2, h3, h4, h5 {
      height: calc(2em * 1.1);
      overflow: hidden;
    }

    small {
      font-size: var(--weirdo-text-lg);
      color: var(--weirdo-color-accent-3);
    }

  }

  .icon {
    width: 8rem;
    height: 8rem;

    svg {
      stroke-width: 0;
      stroke-color: var(--weirdo-color-accent-2);
    }
  }
</style>