---
import { Image } from 'astro:assets'
import { PortableText } from 'astro-portabletext'
import DecoImage from '../../assets/ag_about_2.png'
import Container from '../atoms/Container.astro'
import Heading from '../molecules/Heading.astro'

const { data } = Astro.props
---

<section id='about' data-weirdo-nav-target="about" class="section">
  <Container>
    <div class="wrapper">
      <div class="deco-image-wrapper">
        <Image src={DecoImage} alt="decoration image" width={600} height={800} class="deco-image" />
      </div>
      <div>
        <Heading as="h1" size='xl' text={data.title} />
        <!-- <Heading as="h2" size='xl' text={data.lead} /> -->
        <div class="portable-text-wrapper">
          <PortableText value={data.body}/>
        </div>
      </div>
    </div>
  </Container>
</section>

<style>
  .section {
    
    @media (min-width: 768px) {
      text-align: center;
    }
  }

  .wrapper {
    display: grid;
    
    @media (min-width: 1024px) {
      grid-template-columns: 1fr 2fr;
      gap: 2rem;
      align-items: center;
    }
  }

  .deco-image-wrapper {
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      padding-top: 75%;
    }

    @media (min-width: 1024px) {
      &::after {
        padding-top: 125%;
      }
    }


    .deco-image {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
      
      @media(min-width: 1024px) {
        transform: scaleX(-1);
      }
    }
  }
</style>

