.logo {
  position: relative;
  width: clamp(106px, 14vw, 233px);
  height: fit-content;

  &::after {
    display: block;
    width: 100%;
    padding-top: 36%;
    content: '';
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &--is-scrolled {
    transform: scale(0.85);
  }
}
