@use "../../utils/" as utils;

.#{utils.buildClassName("header") } {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 1rem 0;
  transition: all #{utils.getVar("animation-duration")} ease-in-out;

  @media (min-width: 768px) {
    padding: 2rem 0;
  }
}
