@use "../../utils/" as utils;

.#{utils.buildClassName("header") } {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: 1rem 0;
  background-color: #{utils.getVar("color-primary")};
  transition: all 0.3s;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: #{utils.getVar("shadow-default")};
    opacity: 0;
    transition: inherit;
  }

  &__inner-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
