@use "sass:map";

@use "../../utils/" as utils;
@use "../../defaults/" as defaults;

.#{utils.buildClassName("tiles-wrapper")} {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  
  @media (min-width: map.get(defaults.$breakpoints, "sm")) {
    grid-template-columns: repeat(2, 1fr);
  }
  
  @media (min-width: map.get(defaults.$breakpoints, "xl")) {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
}
