---
import { getHomePageData } from '../data'

import Layout from '../layouts/Layout.astro'

const data = await getHomePageData()
---

<Layout title="Welcome to Astro">
	<main>
		<h1>Welcome to <span class="text-gradient">AG</span></h1>
		<p class="instructions">
			Tweak the "Welcome to Akademia Gimnastyki" message above.
		</p>

		{data[0].home_values_block.values_block_title && (
			<p>{data[0].home_values_block.values_block_title}</p>
		)}
	</main>
</Layout>
