---
import Card from '../components/Card.astro'
import Layout from '../layouts/Layout.astro'

const test = 'Akademia Gimnastyki'
const newVar = 'AG'
---

<Layout title="Welcome to Astro">
	<main>
		<h1>Welcome to <span class="text-gradient">AG</span></h1>
		<p class="instructions">
			Tweak the "Welcome to Akademia Gimnastyki" message above.
		</p>
	</main>
</Layout>
