---
import type { HomePage } from '../data/digests/digest-home-page-data'
import { getHomePageData } from '../data/get-home-page-data'

import Banner from '../components/organisms/Banner.astro'
import SectionAbout from '../components/templates/SectionAbout.astro'
// import SectionActivities from '../components/templates/SectionActivities.astro'
import SectionValues from '../components/templates/SectionValues.astro'
import Layout from '../layouts/Layout.astro'

const { values, banners, about, activities } = (await getHomePageData()) as HomePage
---

<Layout title="Welcome to Astro">
	<main>
		{banners && banners.map((banner) => (
			<Banner data={banner} />
		))}
		{about && <SectionAbout data={about} />}
		<!-- {activities && <SectionActivities data={activities}>} -->
		{values && (
			<SectionValues data={values}	/>
		)}
	</main>
</Layout>
