---
import type { HomePage } from '../data/digests/digest-home-page-data'
import { getHomePageData } from '../data/get-home-page-data'

import Layout from '../layouts/Layout.astro'

const { values } = (await getHomePageData()) as HomePage
---

<Layout title="Welcome to Astro">
	<main>
		<h1>Welcome to <span class="text-gradient">AG</span></h1>
		<p class="instructions">
			Tweak the "Welcome to Akademia Gimnastyki" message above.
		</p>
		{values && (
			<h1>{values.title}</h1>
		)}
	</main>
</Layout>
