---
import { getRegulationData } from '../data/get-regulation-data'

import Container from '../components/atoms/Container.astro'
import BodyText from '../components/molecules/BodyText.astro'
import Heading from '../components/molecules/Heading.astro'
import type { RegulationData } from '../data/digests/digest-regulation-data'
import Layout from '../layouts/Layout.astro'

// TODO: implement getStaticPaths
// export async function getStaticPaths() {
//   async function obtainRegulationSlugs() {
//     const slugs = await getRegulationSlugs()

//     type Slug = {
//       regulation_slug: {
//         current: string
//       }
//     }

//     return slugs.map((slug: Slug) => {
//       return {
//         params: {
//           slug: slug.regulation_slug.current,
//         },
//       }
//     })
//   }

//   const slugs = await obtainRegulationSlugs()

//   return [...slugs]
// }

const CURRENT_SLUG = 'regulamin-finansowy-obozy-polkolonie'

const { title, body } = (await getRegulationData(CURRENT_SLUG)) as RegulationData
---

<Layout title={title} description="Regulamin finansowy obozów i półkolonii">
  <main>
    <section>
      <Container>
        <Heading as="h1" size='xl' text={title} />
        <div class="portable-text-wrapper">
          <BodyText text={body} />
        </div>
      </Container>
    </section>
  </main>
</Layout>

<style>
  section {
    padding: 14rem 0 0;
}
</style>

