---

---

<div class="deco-element"></div>
      

<style>
  .deco-element {
    position: absolute;
    top: 50%;
    left: 0;
    width: 400px;
    height: 400px;
    background-color: var(--weirdo-color-accent-2);
  }
</style>