---

---

<div class="wrapper">
  <fieldset class=d1><legend>Akademia gimnastyki</legend></fieldset>
<fieldset class=d1><legend>Szarfy</legend></fieldset>
<fieldset class=d1><legend>Akademia gimnastyki</legend></fieldset>
<fieldset class=d1><legend>Air track</legend></fieldset>
<!-- <fieldset class=d2><legend>Wash Your Hands</legend></fieldset>
<fieldset class=d2><legend>Stay Apart</legend></fieldset>
<fieldset class=d2><legend>Wear A Mask</legend></fieldset>
<fieldset class=d2><legend>Stay Home</legend></fieldset> -->
</div>

<style>

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  padding: 0.5rem 1rem;
  z-index: -1;
  font-size: var(--weirdo-text-sm)

}

fieldset{
  border: 3px solid transparent; 
  border-top-color: #efefef; 
  box-sizing: border-box; 
  grid-area: 1 / 1; 
  padding: 40px;
}

/* .d2{ grid-area: 1 / 2; } */

fieldset:nth-of-type(2){ 
  transform: rotate(90deg); 
  width: calc(100vh - 2em));

}

fieldset:nth-of-type(3) { 
  transform: rotate(180deg); 
}

fieldset:nth-of-type(4) { 
  transform: rotate(-90deg); 
  width: calc(100vh - 2em);
 }

legend{
  padding: 0 4px; 
  color: #cfcfcf;
}

.d1 legend{ margin-left: auto; }

fieldset:nth-of-type(3)>legend{ transform: rotate(180deg); } 

body {
  user-select: none;
  -webkit-user-select: none;
}
</style>