@use "sass:meta";
@use "sass:string";
@use "sass:color";

@forward "defaults";
@forward "theme";
@forward "utils";
@forward "components";

.icon-link {
  $background: hsl(332, 100%, 60%);

  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: all var(--weirdo-animation-duration);

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    background: $background;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: inherit;
  }

  svg {
    position: relative;
    z-index: 2;
  }

  &:hover {
    transform: scale(1.1);

    &:after {
      background: color.adjust($background, $lightness: 10%);
    }
  }
}
